.button-style {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.side-nav {
    /*background-color: #cee0ee;*/
}

.group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: .8em;
}

.group form span {
    margin-right: 6em;
}

.group p {
    margin: 0;
}

.group p:before {
    content: " - ";
}

.button1 {
    width: 250px;
    height: 200px;
    display: inline-block;
    margin-top: 2%;
    margin-right: 2%;
}

