.button-style {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.side-nav {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #d1cab6;
}

.side-nav ul {
    list-style-type: none;
    padding: 0;
}

 li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #28a745;
    color: white;
}

.group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: .8em;
}

.group form span {
    margin-right: 6em;
}

.group p {
    margin: 0;
}

.group p:before {
    content: " - ";
}

.new-group {
    cursor: pointer;
    color: #414141;
    font-size: 0.9rem;
    padding-top: 0.6em;
}

.new-group:hover {
    text-decoration: underline;
    color: #4e555b;
}

.button-group h2 {
    display: block;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0;
    width: 100%;
    letter-spacing: 2px;
}

.button1 {
    width: 150px;
    height: 100px;
    font-size: 1rem !important;
    display: inline-block;
    margin-top: 2%;
    font-weight: normal !important;
    margin-right: 2%;
}

.selected {
    font-weight: bold;
    background-color: #495157;
    color: white;
}

#users td {
    padding: 0.3em 0.4em;
}

.groups {
    position: relative;
}

.new-group-dropdown {
    min-width: 200px;
    min-height: 200px;
    position: absolute;
    top: 40px;
    left: -40px;
    background-color: rgb(241, 234, 241);
    padding: 0.2em 0.4em;
    border-radius: 10px;
}

.group-option {
    cursor: pointer;
    color: #2f2f2f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.3em;
    border-radius: 10px;
}

.group-option:hover {
    background-color: #d7d0d2;
}

.hidden {
    display: none;
}

.groups span {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0.3em;
}

.groups span i {
    margin-left: auto;
}

.groups span i:hover {
    cursor: pointer;
    color: #9c110c !important;
}


.perms {
    display: flex;
    flex-direction: row;
}

.perms div {
    margin: 0 0.4em;
}
