.button-style {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.title {
    color: #28a745;
    font-weight: 400;
    font-size: 2.4rem;
    margin-bottom: 25px;
    padding-bottom: 5px;
    border-bottom: 1px solid #28a745;
}

.navbar {
    background-color: #eceeee !important;
}

.navbar li a:hover {
    border-radius: 10px;
    background-color: #dcdcdc;
}

.side-nav {
    margin: 0;
    padding: 0;
    background-color: #eceeee;
    height: 500px;
    border-radius: 0 10px 10px 0;
    border: 1px solid rgba(47, 47, 47, 0.26);
}

.side-nav ul {
    font-size: 1.1rem;
    padding: 0;
    list-style-type: none;
}

.side-nav li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.7em;
    border-bottom: 1px solid rgba(47, 47, 47, 0.26);
    color: #000;
    text-decoration: none;
    transition: 0.2s all;
}

.side-nav li a i {
    font-size: 1.15em;
    margin-left: auto;
    margin-right: 20px;
}

.side-nav li a.active {
    background-color: #28a745;
    color: white;
}

.side-nav li a.active:before {
    content: ">";
    margin-right: 1em;
}

.side-nav li a:hover {
    letter-spacing: 0.6px;
    background-color: #28a745;
    color: white;
}

.group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: .8em;
}

.group form span {
    margin-right: 6em;
}

.group p {
    margin: 0;
}

.group p:before {
    content: " - ";
}

.button-group h2 {
    display: block;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0;
    width: 100%;
    letter-spacing: 2px;
}

.button1 {
    width: 150px;
    height: 100px;
    font-size: 1rem !important;
    display: inline-block;
    margin-top: 2%;
    font-weight: normal !important;
    margin-right: 2%;
}

.selected {
    font-weight: bold;
    background-color: #495157;
    color: white;
}
#users td,
#users th {
    padding: 0.6em;
}

#users td {
    max-width: 200px;
}

#users .buttons {
    vertical-align: inherit;
}

.new-group {
    cursor: pointer;
    color: #414141;
    font-size: 0.9rem;
    padding-top: 0.6em;
    position: relative;
    transition: 0.2s all;
}

.new-group:hover {
    color: #4e555b;
}

.new-group-dropdown {
    z-index: 999;
    min-width: 100%;
    min-height: 200px;
    position: absolute;
    top: 32px;
    left: 0;
    background-color: rgba(74, 76, 76, 0.94);
    padding: 0.2em 0.4em;
    border-radius: 0 0 10px 10px;
}

.group-option {
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.3em;
    transition: 0.2s all;
    font-size: 1rem;
}

.new-group i {
    font-size: 1.1em;
    padding-left: 15px;
}

.group-option:hover {
    color: #1b1e21;
    background-color: #d7d0d2;
}

.hidden {
    display: none;
}
/* TODO: Add animation */
.showen {
    display: block;
}

.groups span {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0.3em;
}

.groups span i {
    margin-left: auto;
}

.groups span i:hover {
    cursor: pointer;
    color: #9c110c !important;
}


.perms {
    display: flex;
    flex-direction: row;
}

.perms div {
    margin: 0 0.4em;
}

.table-logs {
    text-align: center;
}

.table-logs .head-contain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.table-logs .filter-click {
    cursor: pointer;
    transition: 0.2s all;
}

.table-logs .filter-click i {
    margin-left: 20px;
    font-size: 1.15rem;
}

.table-logs .head-contain p {
    margin: 0;
    justify-self: center;
}

.table-logs .filter-click:hover {
    color: #e9e9e9 !important;
    background-color: #424a50 !important;
}

.big-row {
    height: 150px;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color: #28a745;
    border: 1px solid #28a745;
}

.role-mock {
    cursor: pointer;
    color: #28a745 !important;
    margin-right: 20px !important;
    transition: 0.2s all;
    border-radius: 10px;
}

.role-mock:hover {
    color: white !important;
    background-color: #4e555b !important;
}